.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}

/* p tags */
.calibre1 {
  display: block;
  margin: 1em 0;
}

/* h1 tags */
.calibre2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
	text-align: center;
}
.calibre3 {
  line-height: 1.2;
}
.calibre4 {
  display: block;
}
.calibre5 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-right: 0;
  margin-top: 1em;
}
.calibre6 {
  display: list-item;
}
.calibre7 {
  height: auto;
  width: auto;
}
.calibre8 {
  display: block;
  margin: 1em;
}

/* h2 tags */
.calibre9 {
  display: block;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.83em 0;
	text-align: center;
}
.calibre10 {
  color: gray;
  display: block;
  height: 2px;
  margin: 0.5em auto;
  border: currentColor inset 1px;
}
.calibre11 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre12 {
  font-weight: bold;
}
.calibre13 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
}
.figure {
  text-align: center;
  break-inside: avoid;
  page-break-inside: avoid;
  font-style: italic;
  margin-bottom: 1rem;
}
